---
import Button from "components/Button/Button.astro";
import Section from "components/Section/Section.astro";
---

<div class="hero">
  <div class="hero__content">
    <div class="hero__title">
      Manage your social media without the chaos and routine.
    </div>
    <div class="hero__subtitle">
      PostPulse is a platform that automates the entire workflow for your
      Telegram channel — from content creation to scheduled publishing. Less
      manual work, more time for ideas and growth.
    </div>
    <div class="hero__actions">
      <Button>Contact Us</Button>
      <Button>Start Free Trial</Button>
    </div>
  </div>
</div>

<style lang="scss">
  @use "./_Hero.scss";
</style>
