$cHeader: #191818;
$cBackground: #1A1A1A;
$cBackgroundSurface: #232323;
$cContent: #1D1D1D;
$cBorder: #333333;
$cBackgroundHero: linear-gradient(180deg, #1A1A1A 0%, #232323 100%);

$cPrimary: #744DFF;
$cSecondary: #803C6E;
$cAccent: #115E54;
$cText: #F5F5F5;
$cTextSecondary: #A3A3A3;

$fFamily: Geologica;

$bRadius: 8;
$bRadiusPx: 8px;
$bRadiusBlock: 48;
$bRadiusBlockPx: 48px;

$maxWidth: 1440;
$maxWidthPx: 1440px;

$navHeight: 60;
$navHeightPx: 60px;